.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem 10rem;
}

.mainContainer span {
    font-size: 1.5rem;
    padding-top: .5rem;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.heading label {
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 10px;
}

label input {
    border: none;
    outline: none;
}

.blogPreview {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    margin: 10px 0;
    border-bottom: 1px solid #fafafa;
    cursor: pointer;
}

.blogPreview a {
    text-decoration: none;
    color: black;
}


.blogPreview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blogPreview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

.loading {
    color: gray;
    font-size: 18px;
}

.error {
    color: gray;
    font-size: 18px;
}

.article h2 {
    font-size: 2rem;
    padding: 0.5rem 0;
}

.article span {
    font-size: 1rem;
    padding: 0.5rem 0;
}

.article p {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.article button {
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #f1356d;
    outline: none;
    margin: 0.5rem 0;
}

@media screen and (max-width:600px) {
    .mainContainer {
        margin: 0px auto;
        padding-top: 30px;
        text-align: center;
    }

    .blogPreview {
        justify-content: center;
        align-items: center;
    }
}